<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <menuitem 
        id="is_planning_menu"
        sequence="800" 
        name="Planning"
        parent="sales_team.menu_base_partner" 
    />
    <menuitem 
        id="is_creation_planning_menu" 
        sequence="10" 
        name="Planning"
        parent="is_planning_menu" 
        action="is_creation_planning_action" 
    />


    <menuitem 
        id="is_ventes_table_menu"
        sequence="900" 
        name="Tables"
        parent="sales_team.menu_base_partner" 
    />
    <menuitem 
        id="is_region_menu" 
        sequence="10" 
        name="Régions"
        parent="is_ventes_table_menu" 
        action="is_region_action" 
    />
    <menuitem 
        id="is_secteur_activite_menu" 
        sequence="20" 
        name="Secteurs d'activités"
        parent="is_ventes_table_menu" 
        action="is_secteur_activite_action" 
    />
    <menuitem 
        id="is_type_prestation_menu" 
        sequence="30" 
        name="Types de prestations"
        parent="is_ventes_table_menu" 
        action="is_type_prestation_action" 
    />

    <menuitem 
        id="is_nacelle_menu" 
        sequence="40" 
        name="Nacelle"
        parent="is_ventes_table_menu" 
        action="is_nacelle_action" 
    />


    <menuitem 
        id="is_equipe_menu" 
        sequence="50" 
        name="Equipe"
        parent="is_ventes_table_menu" 
        action="is_equipe_action" 
    />


</odoo>
