<?xml version="1.0" encoding="utf-8"?>
<odoo>



    <menuitem 
        id="is_chantier_top_menu"
        sequence="1" 
        name="Chantiers"
    />
    <menuitem 
        id="is_planning_main_menu" 
        sequence="10" 
        name="Planning"
        parent="is_chantier_top_menu" 
    />
    <menuitem 
        id="is_planning_menu" 
        sequence="10" 
        name="Planning"
        parent="is_planning_main_menu" 
        action="is_planning_action" 
    />
    <menuitem 
        id="is_chantier_main_menu" 
        sequence="20" 
        name="Chantiers"
        parent="is_chantier_top_menu" 
    />
    <menuitem 
        id="is_chantier_menu" 
        sequence="10" 
        name="Chantiers"
        parent="is_chantier_main_menu" 
        action="is_chantier_action" 
    />





    <menuitem 
        id="sale.menu_sale_quotations"
        action="is_sale_order_devis_action"
        parent="sales_team.menu_sales"
        sequence="11"
    />
    <menuitem 
        id="is_sale_order_devis_archive_menu"
        action="is_sale_order_devis_archive_action"
        parent="sales_team.menu_sales"
        sequence="12"
    />

    <menuitem 
        id="is_preparation_planning_menu"
        sequence="800" 
        name="Préparation Planning"
        parent="sales_team.menu_base_partner" 
    />
    <menuitem 
        id="is_creation_planning_menu" 
        sequence="10" 
        name="Préparation Planning"
        parent="is_preparation_planning_menu" 
        action="is_creation_planning_action" 
    />
    <!--
    <menuitem 
        id="is_creation_planning_preparation_menu" 
        sequence="20" 
        name="Préparation Planning"
        parent="is_planning_menu" 
        action="is_creation_planning_preparation_action" 
    />
    -->

    <menuitem 
        id="is_ventes_table_menu"
        sequence="900" 
        name="Tables"
        parent="sales_team.menu_base_partner" 
    />
    <menuitem 
        id="is_region_menu" 
        sequence="10" 
        name="Régions"
        parent="is_ventes_table_menu" 
        action="is_region_action" 
    />
    <menuitem 
        id="is_secteur_activite_menu" 
        sequence="20" 
        name="Secteurs d'activités"
        parent="is_ventes_table_menu" 
        action="is_secteur_activite_action" 
    />
    <menuitem 
        id="is_origine_menu"
        sequence="25"
        name="Origine Client"
        parent="is_ventes_table_menu"
        action="is_origine_action"
    />

    <menuitem 
        id="is_type_prestation_menu" 
        sequence="30" 
        name="Types de prestations"
        parent="is_ventes_table_menu" 
        action="is_type_prestation_action" 
    />

    <menuitem 
        id="is_nacelle_menu" 
        sequence="40" 
        name="Nacelle"
        parent="is_ventes_table_menu" 
        action="is_nacelle_action" 
    />


    <menuitem 
        id="is_equipe_menu" 
        sequence="50" 
        name="Equipe"
        parent="is_ventes_table_menu" 
        action="is_equipe_action" 
    />

    <menuitem 
        id="is_motif_archivage_menu" 
        sequence="60" 
        name="Motif archivage devis"
        parent="is_ventes_table_menu" 
        action="is_motif_archivage_action" 
    />



</odoo>
